{% extends "base.html" %}

{% load widget_tweaks %}

{% block main %}
<div class="container">
    <div class="row">
    	<!-- sidebar start -->
    	<aside class="col-md-3">
    		<div class="sidebar">
    			<div class="block clearfix">
    				<h3 class="title">Opções da Conta</h3>
    				<div class="separator"></div>
    				<nav>
    					<ul class="nav nav-pills nav-stacked">
    						<li><a href="">Dados</a></li>
    						<li><a href="">Senha</a></li>
                            <li><a href="">Compras</a></li>
    					</ul>
    				</nav>
    			</div>
    		</div>
    	</aside>
    	<!-- sidebar end -->
    	<!-- main start -->
    	<!-- ================ -->
    	<div class="main col-md-8 col-md-offset-1">
    		<!-- page-title start -->
    		<!-- ================ -->
    		<h1 class="page-title">Dados da Conta</h1>
    		<hr>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
            {% endfor %}
            <form role="form" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group has-feedback{% if field.errors %} has-error{% endif %}">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    <i class="fa fa-user form-control-feedback"></i>
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-default">
            </form>
    	<!-- main end -->
    </div>
</div>
{% endblock %}
