{% extends "base.html" %}

{% load widget_tweaks %}

{% block main %}
<!-- page-title start -->
<h1 class="page-title">Alterar a Senha</h1>
<!-- page-title end -->
<div class="contact-form">
    <form role="form" action="" method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% for field in form %}
        <div class="form-group has-feedback{% if field.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {% render_field field class="form-control" %}
            <i class="fa fa-user form-control-feedback"></i>
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" value="Salvar" class="btn btn-default" />
    </form>
</div>
{% endblock %}
