{% extends "base.html" %}

{% load thumbnail static %}

{% block main %}
<!-- page-title start -->
<!-- ================ -->
<h1 class="page-title">{{ category }}</h1>
<div class="separator-2"></div>
<!-- page-title end -->
<!-- shop items start -->
 <div class="masonry-grid-fitrows row grid-space-20">
    {% for product in products %}
    <div class="col-md-4 col-sm-6 masonry-grid-item">
        {% include "catalog/product_item.html" %}
    </div>
    {% endfor %}
</div>
<!-- shop items end -->
<div class="clearfix"></div>
{% include 'pagination.html' %}
{% endblock %}
