{% load thumbnail static %}
<div class="listing-item">
    <div class="overlay-container">
        {% if product.primary_photo %}
        <img src="{{ product.primary_photo.image|thumbnail_url:'product_photo' }}" alt="">
        {% else %}
        <img src="{% static 'images/product-2.png' %}" alt="">
        {% endif %}
        <a href="{{ product.get_absolute_url }}" class="overlay small">
            <i class="fa fa-plus"></i>
            <span>Detalhes</span>
        </a>
    </div>
    <div class="listing-item-body clearfix">
        <h3 class="title"><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
        <p>{{ product }}</p>
        <span class="price">R$ {{ product.price|floatformat:"2" }}</span>
        <div class="elements-list pull-right">
            <a href="{% url 'checkout:add_cartitem' product.pk %}"><i class="fa fa-shopping-cart pr-10"></i>Adicionar ao carrinho</a>
        </div>
    </div>
</div>
