{% extends "base.html" %}

{% block title %}Sobre a Empresa{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><i class="fa pr-10"></i><a href="">Sobre</a></li>
{% endblock %}

{% block main %}
<h1 class="page-title">Sobre</h1>
<div class="separator-2"></div>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nulla suscipit <br class="hidden-sm hidden-xs"> unde rerum mollitia dolorum.</p>
{% endblock %}
