<!DOCTYPE html>
{% load static categories %}
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{% block title %}E-Commerce{% endblock %}</title>
		<meta name="description" content="iDea a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="{% static 'fonts/fontello/css/fontello.css' %}" rel="stylesheet">

		<!-- owl carousel CSS file -->
		<link href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

		<!-- iDea core CSS file -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">

		<!-- Color Scheme (In order to change the color scheme, replace the red.css with the color scheme that you prefer)-->
		<link href="{% static 'css/skins/red.css' %}" rel="stylesheet">

		<!-- Custom css -->
		<link href="{% static 'css/custom.css' %}" rel="stylesheet">

		{% block css %}{% endblock %}
	</head>
	<body>
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">

			<!-- header-top start -->
			<!-- ================ -->
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-xs-10">
							<!-- header-top-second start -->
							<!-- ================ -->
							<div id="header-top-second"  class="clearfix">
								<!-- header top dropdowns start -->
								<!-- ================ -->
								<div class="header-top-dropdown">
									<div class="btn-group dropdown">
										<a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i> Pesquisar</a>
										<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
											<li>
												<form role="search" class="search-box">
													<div class="form-group has-feedback">
														<input type="text" class="form-control" placeholder="Pesquisar">
														<i class="fa fa-search form-control-feedback"></i>
													</div>
												</form>
											</li>
										</ul>
									</div>
									<div class="btn-group dropdown">
										<a href="" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> Carrinho ({{ cart_items.count }})</a>
										<ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
											<li>
												<table class="table table-hover">
													<thead>
														<tr>
															<th class="quantity">QT</th>
															<th class="product">Produto</th>
															<th class="amount">Subtotal</th>
														</tr>
													</thead>
													<tbody>
														{% for item in cart_items %}
														<tr>
															<td class="quantity">{{ item.quantity }} x</td>
															<td class="product"><a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a></td>
															<td class="amount">R$ {{ item.product.price|floatformat:"2" }}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
												<div class="panel-body text-right">
													<a href="" class="btn btn-group btn-default btn-sm">Ver Carrinho</a>
													<a href="" class="btn btn-group btn-default btn-sm">Finalizar</a>
												</div>
											</li>
										</ul>
									</div>
									{% if user.is_authenticated %}
									<div class="btn-group">
										<a href="{% url 'accounts:index' %}" class="btn"><i class="fa fa-user"></i> Conta</a>
									</div>
									<div class="btn-group">
										<a href="{% url 'accounts:logout' %}" class="btn"><i class="fa fa-user"></i> Sair</a>
									</div>
									{% else %}
									<div class="btn-group">
										<a href="{% url 'accounts:login' %}" class="btn"><i class="fa fa-user"></i> Entrar</a>
									</div>
									{% endif %}
								</div>
								<!--  header top dropdowns end -->

							</div>
							<!-- header-top-second end -->

						</div>
					</div>
				</div>
			</div>
			<!-- header-top end -->

			<!-- header start (remove fixed class from header in order to disable fixed navigation mode) -->
			<!-- ================ -->
			<header class="header fixed clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-3">

							<!-- header-left start -->
							<!-- ================ -->
							<div class="header-left clearfix">

								<!-- logo -->
								<div class="logo">
									<a href="{% url 'core:index' %}"><img id="logo" src="{% static 'images/logo_red.png' %}" alt="Locus Ecommerce"></a>
								</div>

								<!-- name-and-slogan -->
								<div class="site-slogan">
									Locus Ecommerce
								</div>

							</div>
							<!-- header-left end -->

						</div>
						<div class="col-md-9">

							<!-- header-right start -->
							<!-- ================ -->
							<div class="header-right clearfix">

								<!-- main-navigation start -->
								<!-- ================ -->
								<div class="main-navigation animated">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">
											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="{% url 'core:index' %}">Início</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias</a>
							<ul class="dropdown-menu">
							    {% for category in categories %}
							    <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
							    {% endfor %}
							</ul>
						</li>
						<li class="dropdown">
							<a href="{% url 'core:about' %}" class="dropdown-toggle" data-toggle="dropdown">Sobre</a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'core:about' %}">Sobre a Empresa</a></li>
								<li><a href="{% url 'core:contact' %}">Contato</a></li>
							</ul>
						</li>
												</ul>
											</div>
										</div>
									</nav>
									<!-- navbar end -->
								</div>
								<!-- main-navigation end -->
							</div>
							<!-- header-right end -->
						</div>
					</div>
				</div>
			</header>
			<!-- header end -->

			<!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
                                {% block breadcrumb %}
								<li><i class="fa fa-home pr-10"></i><a href="">Início</a></li>
                                {% endblock %}
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
                        <div class="main col-md-12">
							{% for message in messages %}
							<div class="alert alert-{{ message.tags }}">
								{{ message }}
							</div>
							{% endfor %}
                            {% block main %}{% endblock %}
                        </div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

			<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
			<!-- ================ -->
			<footer id="footer">
				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<p>Copyright © 2014 iDea by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
							</div>
							<div class="col-md-6">
								<nav class="navbar navbar-default" role="navigation">
									<!-- Toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="collapse navbar-collapse" id="navbar-collapse-2">
										<ul class="nav navbar-nav">
											<li><a href="index.html">Home</a></li>
											<li><a href="page-about.html">About</a></li>
											<li><a href="blog-right-sidebar.html">Blog</a></li>
											<li><a href="portfolio-3col.html">Portfolio</a></li>
											<li><a href="page-contact.html">Contact</a></li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->

		</div>
		<!-- page-wrapper end -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="{% static 'plugins/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{% static 'plugins/modernizr.js' %}"></script>
		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
