{% extends "base.html" %}

{% load widget_tweaks %}

{% block main %}
<!-- page-title start -->
<h1 class="page-title">Contato</h1>
<!-- page-title end -->
<div class="contact-form">
    {% if success %}
    <div class="alert alert-success" id="contactSuccess">
		<strong>Sucesso!</strong> Sua mensagem foi enviada para nós.
	</div>
    {% else %}
    <form id="contact-form" role="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group has-feedback{% if field.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {% render_field field class="form-control" %}
            <i class="fa fa-user form-control-feedback"></i>
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
    {% endif %}
</div>
</div>
{% endblock %}
