{% extends "base.html" %}

{% load thumbnail static categories %}

{% block javascript %}
<script type="text/javascript">
    $(function(){
        $("#form-filter").on("submit", function(event){
            var $form = $(this);
            var data = $form.serialize();
            var url = "{% url 'core:index' %}";
            $.ajax({
                url: url,
                data: data,
                type: 'get',
                success: function(response){
                    $("#list-products").html(response);
                }
            });
            return false;
        });
    });
</script>
{% endblock %}

{% block main %}
<!-- page-title start -->
<!-- ================ -->
<h1 class="page-title">Shop</h1>
<div class="separator-2"></div>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nulla suscipit <br class="hidden-sm hidden-xs"> unde rerum mollitia dolorum.</p>
<!-- page-title end -->

<div class="sorting-filters">
    <form class="form-inline" id="form-filter">
        {% get_categories as categories %}
        <div class="form-group">
            <label>Categorias</label>
            <select class="form-control" name="category">
                <option value="">------------</option>
                {% for category in categories %}
                <option value="{{ category.pk }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

<!-- shop items start -->
 <div id="list-products" class="masonry-grid-fitrows row grid-space-20">
     {% include "_index.html" %}
</div>
<!-- shop items end -->
<div class="clearfix"></div>
{% include 'pagination.html' %}
{% endblock %}
