{% load utils %}
<!-- pagination start -->
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?{{ request.GET|remove_and_encode:'page' }}&page={{ page_obj.previous_page_number }}">«</a></li>
    {% endif %}
    {% for page_number in paginator.page_range %}
        {% if page_number == page_obj.number %}
        <li class="active"><a href="?{{ request.GET|remove_and_encode:'page' }}&page={{ page_obj.number }}">{{ page_obj.number }} <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="?{{ request.GET|remove_and_encode:'page' }}&page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?{{ request.GET|remove_and_encode:'page' }}&page={{ page_obj.next_page_number }}">»</a></li>
    {% endif %}
</ul>
<!-- pagination end -->
